<template name="footer">
		<div class="wrapper">
		<div class="footer" style="background-color: #d9534f;">
			<div class="container">
				<div class="">
					<div class="col-md-3">
						<h2 class="text-center">Customer Service</h2>
						<p>
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
						</p>
					</div>
					<div class="col-md-3">
						<h2 class="text-center">About Us</h2>
						<p>
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
						</p>
					</div><div class="col-md-3">
						<h2 class="text-center">BiBiLo</h2>
						<p>
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
						</p>
					</div><div class="col-md-3">
						<h2 class="text-center">Trade Service</h2>
						<p>
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
							Hello Ladies and gentle men Hello Ladies and gentle men 
							Hello Ladies and gentle men Hello Ladies and gentle men
						</p>
					</div>
				</div><!--end row-->
			</div><!--end container-->
		</div><!--end footer-->	
	</div><!--end wrapper-->
</template>