<template name="detailproduct">
        <div class="header">
            <div class="padding container">         
                <div class="col-md-12">
                    <div class="product-detail">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="img-pro-detail" style="border: 1px solid #ccc; padding: 5px;">
                                    <a href="">
                                        <img src="images/img/product1.jpg" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="desc-pro-detail">
                                    <p>186pcs Hand Tool Sets, GLT-12168</p>
                                    <table class="table-price">
                                        <tr>
                                            <td>FOB Price:</td>
                                            <th style="color:#ff7519;">US $15 - 20 / Piece</th> 
                                        </tr>
                                        <tr>
                                            <td>Min.Order Quantity:</td>
                                            <th >1 Piece/Pieces</th> 
                                        </tr>
                                        <tr>
                                            <td>Supply Ability:</td>
                                            <th >10000 Piece/Pieces per Day</th> 
                                        </tr>
                                        <tr>
                                            <td>Port:</td>
                                            <th >SHANGHAI</th> 
                                        </tr>
                                        <tr>
                                            <td>Payment Terms:</td>
                                            <th >T/T,Western Union,MoneyGram</th> 
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-warning">Contact Supplier</button>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
        </div><!--end header-->
        <div class="body padding">
            <div class="container">
                <div class="row">               
                    <div class="col-md-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">RELATED</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                </div><!--end row-->
                                <div class="row">
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                </div><!--end row-->
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning ">See all deals  <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div> <!-- panel-warning -->
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">POPULAR</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                  <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                      <img src="http://placehold.it/500x300" alt="...">
                                      <div class="caption text-center">
                                        <h3>Product</h3>                                        
                                      </div><!--end caption-->
                                      <a href="product.html" class="btn btn-warning" role="button">View more <i class="fa fa-angle-right"></i></a>
                                    </div><!--end thumbnail-->
                                  </div><!--end col-->                                
                                </div><!--end row-->
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning ">See all deals  <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>                  
                </div><!--end products section-->           
            </div><!--end container-->
        </div><!--end body-->
</template>
